
<div id = "jumbo" class = "jumbotron jumbotron-fluid px-5" style="background-image: url({{baseurl}}/assets/img/jumbo.bmp); background-size: 100%;">
    <div class = "contrainer">
        <h1>Temporary Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quia maiores sint, vitae excepturi vel iure saepe commodi.</p>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id = "top-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{baseurl}}/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{baseurl}}/skill.html">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{baseurl}}/blog.html">Blog</a>
        </li>
        <li class="nav-item">
            <a class = "nav-link" href="{{baseurl}}/contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul clas="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{baseurl}}/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{{baseurl}}/Skills.html">Skills</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{{baseurl}}/blog.html">Blog</a>
            </li>
        </ul> 
    </div>
</nav>
-->