---
layout: default
---


<div id="body">

    {%if page.img %}
        <img src = "{{baseurl}}/assets/img/{{page.img}}" id="me">
    {%else%}
        <img src = "http://via.placeholder.com/320x360" id = "me">
    {% endif %}

    <div class="singlepost">
        <div class="featured">
            
            <h1>{{ page.title }}</h1>
            <span>
                By {{page.author}} on {{page.date | date: '%B %d, %Y'}}
            </span>

            {{content}}
            
            <a href="{{baseurl}}/blog.html" class="load">back to blog</a>
        </div>
    </div>
</div>